HOST=0.0.0.0
PORT=8000
LOG_LEVEL=INFO
JIRA_AUTH_BASE_URL=https://auth.atlassian.com/authorize
JIRA_CLIENT_ID=braintrust-jira-client
JIRA_REDIRECT_URI=https://braintrust.local/oauth/jira/callback
TRELLO_AUTH_BASE_URL=https://trello.com/1/authorize
TRELLO_CLIENT_ID=braintrust-trello-client
TRELLO_REDIRECT_URI=https://braintrust.local/oauth/trello/callback
SEARCH_RESULTS_BASE_URL=https://braintrust.local/knowledge
SEARCH_MAX_RESULTS=5
